{% extends 'base.html' %}

{% block content %}

<h1>About Me</h1>

<div class="about-me">
    <p>Welcome to SimpleForecast, the air quality checker app that helps you stay informed about the quality of the air you breathe. I'm passionate about creating tools that empower people to make informed decisions about their health, and I believe that air quality is one of the most important factors that we need to consider.</p>
    <p>Poor air quality can have serious consequences for our health, ranging from respiratory problems and allergies to heart disease and cancer. That's why it's crucial to have access to accurate, up-to-date information about the air quality in our environment.</p>
    <p>SimpleForecast is designed to be an easy-to-use and reliable source of information about air quality. With our app, you can check the air quality index (AQI) in your area, as well as get real-time updates and alerts about any changes in the air quality.</p>
    <p>Whether you're a concerned citizen, a health professional, or just someone who wants to breathe clean air, SimpleForecast is the perfect tool for staying informed and making smart decisions about your health.</p>
  </div>
  

{% endblock %}

