<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Loads the static files, such as CSS and JavaScript -->
{% load static %}

<!-- Defines the content block to be used in the base template -->
{% block content %}
<br />

<!-- Display jumbotron with category color, if available -->
<div class="jumbotron {% if category_color in 'good,moderate,usg,unhealthy,veryunhealthy,hazardous' %} {{ category_color }}{% endif %}"
    style="border: 1px solid; text-align: center;">
    {% if api %}
    <!-- Display category name -->
    <h1 class="display-4">{{ api.0.Category.Name }}</h1>
    <!-- Display current air quality index -->
    <p class="lead">Current Air Quality Index (AQI): {{ api.0.AQI }}</p>
    <!-- Display reporting area and state code -->
    <p class="lead">Location: {{ api.0.ReportingArea }}, {{ api.0.StateCode }}</p>
    <!-- Display category description -->
    <p>{{ category_description }}</p>
    {% else %}
    <!-- Display error message -->
    <p>{{ category_description }}</p>
    
    {% endif %}
</div>

<!-- End of content block -->
{% endblock %}